@model PainelDeTarefas.Models.Funcionarios

<h1>Excluir Funcionário</h1>

<div>
    <h4>Tem certeza de que deseja excluir este funcionário?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Nome:
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Matrícula:
        </dt>
        <dd class="col-sm-10">
            @Model.Matricula
        </dd>
        <dt class="col-sm-2">
            TarefasAtribuidas:
        </dt>
        <dd class="col-sm-10">
            @Model.TarefasAtribuidas
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>
